build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
src/test/data/sandbox/
.DS_Store
./screenshot*.png
classes/
/data/addressbook.xml
/bin/
src/main/resources/docs/
out/
config.json
preferences.json
docs/team/*.pdf
docs/*.pdf
docs/*.html
*.md
Collate-GUI.jar
docs/team/raynoldng.pdf
data/EPIC.xml
.gitignore
